<div class="form-group">
    <label for="state">Estado:</label>
    <input type="text" id="state" name="state" ngModel required>
</div>
<div class="form-group">
    <label for="city">Cidade:</label>
    <input type="text" id="city" name="city" ngModel required>
</div>
<div class="form-group">
    <label for="cep">CEP:</label>
    <input type="text" id="cep" name="cep" ngModel required>
</div>
<div class="form-group">
    <label for="address">Endereço:</label>
    <input type="text" id="address" name="address" ngModel required>
</div>  
<div class="form-group">
    <label for="neighborhood">Bairro:</label>
    <input type="text" id="neighborhood" name="neighborhood" ngModel required>
</div>
