<div class="mt-5">
  <form [formGroup]="addressForm" (ngSubmit)="cadastrar()">
    <div class="row mb-3">
      <div class="col-md-4">
        <label for="cep" class="form-label">CEP:</label>
        <input type="text" id="cep" class="form-control cep-link" formControlName="cep"
          [ngClass]="{'is-invalid': isFieldInvalid('cep')}" placeholder="00000-000">
        <div *ngIf="isFieldInvalid('cep')" class="text-danger">
          <small *ngIf="addressForm.get('cep')?.errors?.['required']">CEP é obrigatório.</small>
          <small *ngIf="addressForm.get('cep')?.errors?.['pattern']">CEP inválido. Use o formato 00000-000.</small>
        </div>
      </div>
      <div class="col-md-3 d-flex align-items-end">
        <a href="#" (click)="esqueciCep()" class="text-primary">Esqueci meu CEP</a>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="logradouro" class="form-label">Logradouro:</label>
        <input type="text" id="logradouro" class="form-control input-gray" formControlName="logradouro"
          [ngClass]="{ 'is-invalid': isFieldInvalid('logradouro') }" />
        <div *ngIf="isFieldInvalid('logradouro')" class="text-danger">
          <small *ngIf="addressForm.get('logradouro')?.errors?.['required']">Logradouro é obrigatório.</small>
          <small *ngIf="addressForm.get('logradouro')?.errors?.['minlength']">Logradouro deve ter no mínimo 3
            caracteres.</small>
        </div>
      </div>
      <div class="col-md-2">
        <label for="numero" class="form-label">Número:</label>
        <input type="text" id="numero" class="form-control" formControlName="numero"
          [ngClass]="{ 'is-invalid': isFieldInvalid('numero') }" />
        <div *ngIf="isFieldInvalid('numero')" class="text-danger">
          <small *ngIf="addressForm.get('numero')?.errors?.['required']">Número é obrigatório.</small>
          <small *ngIf="addressForm.get('numero')?.errors?.['pattern']">Apenas números são permitidos.</small>
        </div>
      </div>
      <div class="col-md-4">
        <label for="complemento" class="form-label">Complemento:</label>
        <input type="text" id="complemento" class="form-control" formControlName="complemento" />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4">
        <label for="bairro" class="form-label">Bairro:</label>
        <input type="text" id="bairro" class="form-control input-gray" formControlName="bairro"
          [ngClass]="{ 'is-invalid': isFieldInvalid('bairro') }" />
        <div *ngIf="isFieldInvalid('bairro')" class="text-danger">
          <small *ngIf="addressForm.get('bairro')?.errors?.['required']">Bairro é obrigatório.</small>
          <small *ngIf="addressForm.get('bairro')?.errors?.['minlength']">Bairro deve ter no mínimo 3
            caracteres.</small>
        </div>
      </div>
      <div class="col-md-4">
        <label for="estado" class="form-label">Estado:</label>
        <input type="text" id="estado" class="form-control input-gray" formControlName="estado"
          [ngClass]="{ 'is-invalid': isFieldInvalid('estado') }" />
        <div *ngIf="isFieldInvalid('estado')" class="text-danger">
          <small *ngIf="addressForm.get('estado')?.errors?.['required']">Estado é obrigatório.</small>
          <small *ngIf="addressForm.get('estado')?.errors?.['pattern']">Estado inválido. Use o formato UF (ex:
            SP).</small>
        </div>
      </div>
      <div class="col-md-4">
        <label for="cidade" class="form-label">Cidade:</label>
        <input type="text" id="cidade" class="form-control input-gray" formControlName="cidade"
          [ngClass]="{ 'is-invalid': isFieldInvalid('cidade') }" />
        <div *ngIf="isFieldInvalid('cidade')" class="text-danger">
          <small *ngIf="addressForm.get('cidade')?.errors?.['required']">Cidade é obrigatória.</small>
          <small *ngIf="addressForm.get('cidade')?.errors?.['minlength']">Cidade deve ter no mínimo 3
            caracteres.</small>
        </div>
      </div>
    </div>
  </form>
</div>