<div class="container mt-5">
  <h2 class="text-center mb-4">Cadastro de Pessoa Jurídica</h2>
  <div class="card shadow-sm p-4">
    <form [formGroup]="cadastroForm" (ngSubmit)="cadastrar()">
      <div class="mb-3">
        <label for="razaoSocial" class="form-label">Razão Social:</label>
        <div class="input-group">
          <input type="text" id="razaoSocial" class="form-control" formControlName="razaoSocial">
        </div>
      </div>
      <div class="mb-3">
        <label for="cnpj" class="form-label">CNPJ:</label>
        <div class="input-group">
          <input type="text" id="cnpj" class="form-control" formControlName="cnpj">
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <div class="input-group">
          <input type="email" id="email" class="form-control" formControlName="email">
        </div>
      </div>
      <div class="mb-3">
        <label for="telefone" class="form-label">Telefone:</label>
        <div class="input-group">
          <input type="tel" id="telefone" class="form-control" formControlName="telefone">
        </div>
      </div>
      <app-register-footer (goBackEvent)="onGoBack()" [cadastro]="cadastroForm"></app-register-footer>
    </form>
  </div>
</div>
